body {
    background-color: black;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1000vh;
  }
  
  .title {
    color: black;
    text-transform: uppercase;
    margin-top: 3em;
    margin-bottom: 3em;
    font-size: 1em;
    letter-spacing: 0.3em;
  }
  
  .keyboard {
    display: flex;
    flex-direction: column;
  }
  
  .row {
    list-style: none;
    display: flex;
  }
  
  li {
    height: 3em;
    width: 3em;
    color: rgba(0,0,0,0.7);
    border-radius: 0.4em;
    line-height: 3em;
    letter-spacing: 1px;
    margin: 0.4em;
    transition: 0.3s;
    text-align: center;
    font-size: 1em;
  }
  
  #tab {
    width: 5em;
  }
  
  #caps {
    width: 6em;
  }
  
  #left-shift {
    width: 8em;
  }
  
  #enter {
    width: 6em;
  }
  
  #right-shift {
    width: 8em;
  }
  
  #back {
    width: 5em;
  }
  
  .pinky { 
    background-color: rgb(5, 252, 219);
    border: 2px solid rgb(5, 252, 219);
  }
  .pinky.selected {
    color: rgb(5, 252, 219);
  }
  
  .ring { 
    background-color: coral;
    border: 2px solid coral;
  }
  .ring.selected {
    color: coral;
  }
  
  .middle { 
    background-color: darkorange;
    border: 2px solid darkorange;
  }
  .middle.selected {
    color: darkorange;
  }
  
  .pointer1st { 
    background-color: gold;
    border: 2px solid gold;
  }
  .pointer1st.selected {
    color: gold;
  }
  
  .pointer2nd { 
    background-color: khaki;
    border: 2px solid khaki;
  }
  .pointer2nd.selected {
    color: khaki;
  }
  
  .fill-out-key {
    background-color: slategrey;
    border: 2px solid slategrey;
  }
  
  .selected {
    background-color: transparent;
        -webkit-animation: vibrate-1 0.3s linear infinite both;
              animation: vibrate-1 0.3s linear infinite both;
  }
  
  
  
  .hit {
      -webkit-animation: hit 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
              animation: hit 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }
  
  @-webkit-keyframes hit {
    0% {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes hit {
    0% {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
  @-webkit-keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  @keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
 
  }
  p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 18px;
    color: #676767;
  }
  .frame {
    width: 90%;
    margin: 40px auto;
    text-align: center;
  }
  button {
    margin: 20px;
  }
  .custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	background-color: #9921e8;
	background-image: linear-gradient(315deg, #9921e8 0%, #5f72be 74%);
	display: flex;
	justify-content: center;
	align-items: center;
}

.wrapper {
	height: 50px;
	width: 165px;
	-webkit-tap-highlight-color: transparent;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}


* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	background-color: black;

	display: flex;
	justify-content: center;
	align-items: center;
}

.wrapper {
	height: 50px;
	width: 165px;
	-webkit-tap-highlight-color: transparent;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	background-color: black;

	display: flex;
	justify-content: center;
	align-items: center;
}

.wrapper {
	height: 50px;
	width: 165px;
	-webkit-tap-highlight-color: transparent;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	background-color: rgb(0, 0, 0);

	display: flex;
	justify-content: center;
	align-items: center;
}

.wrapper {
	height: 50px;
	width: 300px;
	-webkit-tap-highlight-color: transparent;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

button {
	height: 100%;
	width: 90%;
	cursor: pointer;
	background-color: #08e1ae;
	background-image: linear-gradient(315deg, #00fdc2 0%, #afdf84 74%);
	border: none;
	border-radius: 50px 50px 30px 30px;
	transition: 1s;
	box-shadow: 0 3px 10px rgba(0,0,0,0.15);
}

button:active {
	border: none;
	outline: none;
}

button a {
	font-family: 'Fredoka One', cursive;
	font-size: 30px;
	text-decoration: none;
	color: rgba(8, 8, 8, 0.7);
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

button:hover {
	border-radius: 100px 100px 20px 20px;
	height: 45px;
	width: 165px;
}

button:hover .scale {
	letter-spacing: 5px;
	font-size: 25px;
	transition: 1s;
}

.rotate-1, .rotate-2, .rotate-3, .rotate-4 {
	transition: 1s;
}

button:hover .rotate-1 {
	transform: rotate(0deg);
}

button:hover .rotate-2 {
	transform: rotate(deg);
}

button:hover .rotate-3 {
	transform: rotate(15deg);
}

button:hover .rotate-4 {
	transform: rotate(15deg);
}

button:active {
	filter: hue-rotate(15deg);
}
.btn-9 {
  border: none;
  transition: all 0.3s ease;
  overflow: hidden;
}
.btn-9:after {
  position: absolute;
  content: " ";
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
   background-color: #1fd1f9;
background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
  transition: all 0.3s ease;
}
.btn-9:hover {
  background: transparent;
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
  color: #fff;
}
.btn-9:hover:after {
  -webkit-transform: scale(2) rotate(180deg);
  transform: scale(2) rotate(180deg);
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
}
